body, ul, li, a, p, input, textarea, button {
  margin: 0;
  padding: 0;
  color: inherit;
  list-style: none;
  text-decoration: none;
  font-family: Arial;
  font-size: 20px;
}

a:hover {
  color: lightskyblue;
}

input, textarea, button {
  padding: 10px;
}

#root {
  position: relative;
  margin: 0 auto;
  width: 70%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.landing {
  text-align: center;
}

.dashboard .add {
  text-align: right;
}

.dashboard span:hover {
  background: lightskyblue;
}

.dashboard span {
  display: inline-block;
  color: white;
  background: red;
  border-radius: 50%;
  text-align: center;
  font-size: 50px;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.dashboard ul {
  margin: 20px 0;
  flex-flow: column;
}

.dashboard li {
  margin: 20px 0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.dashboard li:hover {
  background: lightskyblue;
}

.survey {
  padding: 20px 50px 50px;
  width: 500px;
  background: white;
}

.survey form {
  display: grid;
}

.survey input {
  width: 95%;
  margin: 10px 0;
}

.survey textarea {
  resize: none;
  height: 100px;
  margin: 10px 0 20px;
}

.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}