.review-form {
  padding: 40px;
  width: 400px;
  height: 350px;
  font-size: 20px;
  h1 {
    font-size: 40px;
  }
  form {
    display: flex;
    flex-flow: column;
    height: 300px;
    margin: 20px 0;
    input {
      margin: 20px 0;
      border: 1px solid lightgray;
      border-radius: 5px;
      padding: 5px;
      &:focus {
        border: 1px solid $green;
      }
    }
    textarea {
      border: 1px solid lightgray;
      border-radius: 5px;
      padding: 5px;
      height: 80px;
      resize: none;
      &:focus {
        border: 1px solid $green;
      }
    }
    button {
      margin: 20px 0;
      color: white;
      border-radius: 5px;
      background: $red;
      padding: 10px;
      &:active {
        background: lightgray;
      }
    }
  }
}

