$green: rgb(0, 132, 137);
$red: #FF5A5F;

.session-form {
  padding: 40px;
  width: 400px;
  height: 280px;
  p {
    font-size: 20px;
  }
  a {
    &:hover {
      color: $green;
      text-decoration: underline;
    }
  }
  form {
    display: flex;
    flex-flow: column;
    margin: 20px 0 10px;
    height: 220px;
    input {
      border: 1px solid lightgray;
      border-radius: 5px;
      padding: 5px;
      margin: 10px 0;
      &:focus {
        border: 1px solid $green;
      }
    }
  }
  button {
    color: white;
    border-radius: 5px;
    background: $red;
    margin: 10px 0;
    padding: 10px;
    &:active {
      background: lightgray;
    }
  }
}