.shop {
  margin: 100px 0 50px;
  font-size: 20px;
  display: grid;
  grid-template-columns: 4fr 3fr;
  h1 {
    grid-column: 1 / span 2;
    font-size: 24px;
    margin: 0 50px;
  }

  
  .filter {
    grid-column: 1 / span 2;
    margin: 20px 50px 50px;
    .active {
      background: $red;
    }
    button {
      margin: 0 20px 0 0;
      padding: 10px;
      border-radius: 5px;
      color: white;
      background: darkgray;
      &:active {
        background: lightgray;
      }
    }
  }

  ul {
    li {
      display: flex;
      margin: 0 50px 40px;
      a {
        color: $blue;
        &:hover {
          text-decoration: underline;
        }
      }
      span {
        height: 250px;
        width: 250px;
        img {
          border-radius: 5px;
          height: 250px;
          width: 250px;
        }
      }
      section {
        margin: 10px 0 0 50px;
        button {
          margin: 20px 0 0;
          padding: 10px 20px;
          border-radius: 5px;
          background: $red;
          color: white;
          &:active {
            background: lightgray;
          }
        }
      }
    }
  }
}