.shop-list {
  a {
    color: $blue;
    &:hover {
      text-decoration: underline;
    }
  }
  
  .page-list {
    display: grid;
    grid-template-columns: 5fr 3fr; 

    ul {
      li {
        display: flex;
        margin: 0 50px 40px;
        span {
          img {
            border-radius: 5px;
            height: 250px;
            width: 250px;
          }
        }
        section {
          margin: 10px 0 0 50px;
          button {
            margin: 20px 0 0;
            padding: 10px 20px;
            border-radius: 5px;
            background: $red;
            color: white;
            &:active {
              background: lightgray;
            }
          }
        }
      }
    }
  }

  .page-nav {
    display: block;
    text-align: center;
    font-weight: bold;

    span, a{
      margin: 0 10px;
    }
  }

  @media screen and (max-width: 900px) {
    .page-list {
      grid-template-columns: 1fr 1fr;
      ul {
        li {
          display: grid;
          section {
            margin: 20px 0 0;
          }
        }
      }
    }
  }
  
  @media screen and (max-width: 600px) {
    .page-list {
      grid-template-columns: none;
      ul {
        li {
          margin: 0 0 40px;
          text-align: center;
        }
      }
    }

    .page-nav {
      display: grid;
      a {
        display: inline-block;
      }
    }
  }
}