.shop {
  margin: 100px 0 50px;
  font-size: 20px;
  display: grid;
  grid-template-columns: 4fr 3fr;
  h1 {
    grid-column: 1 / span 2;
    font-size: 24px;
    margin: 0 50px;
  }
  div {
    margin: 50px;
    span {
      position: sticky;
      position: -webkit-sticky;
      top: 100px;
      border: 1px solid;
      border-radius: 5px;
      display: grid;
      height: 400px;
      font-size: 40px;
      text-align: center;
      align-items: center;
    }
  }

  ul {
    li {
      display: flex;
      align-items: center;
      margin: 50px;
      a {
        color: $blue;
        &:hover {
          text-decoration: underline;
        }
      }
      span {
        height: 250px;
        width: 250px;
        img {
          height: 250px;
          width: 250px;
        }
      }
      section {
        margin: 0 0 0 50px;
        button {
          margin: 20px 0 0;
          padding: 10px 20px;
          border-radius: 5px;
          background: $red;
          color: white;
          &:active {
            background: lightgray;
          }
        }
      }
    }
  }
}