body, div, h1, h2, p, a, ul, li, form, input, textarea, button {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: inherit;
  color: inherit;
  text-decoration: none;
  outline: none;
  border: none; }

.errors {
  color: #FF5A5F; }

button {
  cursor: pointer; }

.body {
  margin-top: 100px;
  padding: 20px; }

.modal-bg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 2; }

.modal-child {
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

nav {
  padding: 10px 0;
  display: flex;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.9); }
  nav h1 {
    font-size: 60px;
    line-height: 70px;
    color: lightskyblue;
    margin-left: 20px; }
  nav .greeting {
    display: grid;
    align-items: center;
    margin-right: 20px; }
    nav .greeting ul {
      display: flex;
      font-size: 20px; }
      nav .greeting ul li {
        list-style: none;
        border-bottom: 2px solid transparent; }
        nav .greeting ul li:hover {
          border-bottom: 2px solid darkgray; }
        nav .greeting ul li a {
          display: inline-block;
          padding: 20px; }
          nav .greeting ul li a:hover {
            color: darkgray; }

.landing h1 {
  font-size: 40px; }

.session-form {
  padding: 40px;
  width: 400px;
  height: 320px;
  font-size: 20px; }
  .session-form a:hover {
    color: #008489;
    text-decoration: underline; }
  .session-form form {
    display: flex;
    flex-flow: column;
    margin: 20px 0 10px;
    height: 250px; }
    .session-form form input {
      border: 1px solid lightgray;
      border-radius: 5px;
      padding: 5px;
      margin: 10px 0; }
      .session-form form input:focus {
        border: 1px solid #008489; }
  .session-form button {
    color: white;
    border-radius: 5px;
    background: #FF5A5F;
    margin: 10px 0;
    padding: 10px; }
    .session-form button:active {
      background: lightgray; }

.review {
  font-size: 20px; }
  .review .header {
    display: flex; }
    .review .header h1 {
      font-size: 40px; }
      .review .header h1:hover {
        color: darkgray; }
  .review button {
    padding: 10px;
    border-radius: 5px;
    background: #FF5A5F;
    color: white;
    margin-left: 40px; }
    .review button:active {
      background: lightgray; }
  .review ul li {
    display: flex;
    justify-content: space-between;
    margin: 50px; }
    .review ul li p {
      word-break: break-all; }
    .review ul li div {
      display: flex;
      align-items: center; }

.review-form {
  padding: 40px;
  width: 400px;
  height: 350px;
  font-size: 20px; }
  .review-form h1 {
    font-size: 40px; }
  .review-form form {
    display: flex;
    flex-flow: column;
    height: 300px;
    margin: 20px 0; }
    .review-form form input {
      margin: 20px 0;
      border: 1px solid lightgray;
      border-radius: 5px;
      padding: 5px; }
      .review-form form input:focus {
        border: 1px solid #008489; }
    .review-form form textarea {
      border: 1px solid lightgray;
      border-radius: 5px;
      padding: 5px;
      height: 80px;
      resize: none; }
      .review-form form textarea:focus {
        border: 1px solid #008489; }
    .review-form form button {
      margin: 20px 0;
      color: white;
      border-radius: 5px;
      background: #FF5A5F;
      padding: 10px; }
      .review-form form button:active {
        background: lightgray; }

.profile {
  font-size: 20px; }
  .profile h1 {
    display: inline-block;
    font-size: 40px; }
    .profile h1:hover {
      color: darkgray; }
  .profile button {
    padding: 10px;
    border-radius: 5px;
    background: #FF5A5F;
    color: white;
    margin: 0 10px; }
    .profile button:active {
      background: lightgray; }
  .profile ul li {
    list-style: none;
    margin: 50px; }

.profile-form {
  display: inline-block; }
  .profile-form form input {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 5px; }
    .profile-form form input:focus {
      border: 1px solid #008489; }
  .profile-form form button {
    margin: 0 0 0 10px; }

.shop {
  font-size: 20px; }
  .shop h1 {
    display: inline-block;
    font-size: 40px; }
    .shop h1:hover {
      color: darkgray; }
  .shop ul li {
    list-style: none;
    display: flex;
    margin: 50px; }
    .shop ul li img {
      height: 200px;
      width: 200px; }
    .shop ul li section {
      width: 30%;
      margin: 0 20px; }
