body, div, h1, p, a, ul, form, input, textarea, button {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: inherit;
  color: inherit;
  text-decoration: none;
  outline: none; }

.app {
  position: relative;
  margin: 0 auto 50px;
  width: 80%; }
  .app h1 {
    font-size: 60px;
    color: lightskyblue; }
  .app button {
    background: none;
    border-radius: 10px;
    cursor: pointer; }
    .app button:hover {
      color: red; }
    .app button:active {
      background: lightgray; }
  .app input:focus, .app textarea:focus {
    border: 1px solid red; }
  .app .errors {
    color: red; }

.greeting {
  padding: 20px; }
  .greeting ul {
    display: flex; }
    .greeting ul li {
      list-style: none;
      margin: 0 20px; }
  .greeting a:hover {
    color: red; }

.session-form {
  padding: 20px;
  width: 400px;
  height: 220px; }
  .session-form a:hover {
    color: red; }
  .session-form form {
    display: flex;
    flex-flow: column;
    height: 180px;
    margin: 20px 0 0; }
    .session-form form input {
      border: 1px solid;
      padding: 5px;
      margin: 0 0 10px; }
  .session-form button {
    border: 1px solid;
    margin: 5px 0;
    padding: 5px; }

.review {
  padding: 20px 0; }
  .review h1 {
    font-size: 40px; }
  .review button {
    border: 1px solid;
    padding: 5px 10px;
    margin: 10px 40px; }
  .review a {
    border: 1px solid;
    border-radius: 10px;
    padding: 5px 10px; }
    .review a:hover {
      color: red; }
    .review a:active {
      background: lightgray; }
  .review ul {
    list-style: none; }
    .review ul li {
      display: flex;
      justify-content: space-between;
      margin: 0 20px;
      padding: 20px; }
      .review ul li button {
        margin: 0 0 0 40px; }

.review-form {
  padding: 20px;
  width: 400px;
  height: 350px; }
  .review-form h1 {
    font-size: 40px;
    padding: 0 20px; }
  .review-form form {
    display: flex;
    flex-flow: column;
    padding: 20px; }
    .review-form form input {
      border: 1px solid;
      padding: 5px;
      margin: 20px 0; }
    .review-form form textarea {
      border: 1px solid black;
      padding: 5px;
      height: 80px;
      resize: none; }
    .review-form form button {
      border: 1px solid;
      padding: 5px 10px;
      margin: 20px 0; }

.modal-bg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.7);
  z-index: 1; }

.modal-child {
  background: white;
  border: 1px solid;
  border-radius: 5px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
